<!-- Describe task in general -->

<p style="text-align: justify;">
    Улюблений <a target="_blank" href="https://en.wikipedia.org/wiki/Cookie_Monster">Cookie Monster</a> з "Вулиці Сезам" натрапив на стіл з відсортованими <code>стопками</code> печива, кожна з яких - натуральне число. Однак мономаніакальна одержимість <a target="_blank" href="https://en.wikipedia.org/wiki/Count_von_Count">the Count</a>, який влаштував цю розсипчасту фієсту, нещодавно вийшла на абсолютно новий рівень серйозності. Граф наполягає на тому, що це печиво потрібно з'їсти за <strong>найменшу можливу кількість ходів</strong>. Кожного ходу граф вибирає одну з купок <strong>розміром</strong> <code>p</code>, що <strong>залишились</strong>, і вилучає <code>p</code> печива з кожної купки, яка містить принаймні <code>p</code> печива (таким чином викорінюючи всі купки з рівно <code>p</code> печива), а всі менші купки залишає без змін. 
</p>

<p style="text-align: justify;">
    Оскільки Граф також має нездорову одержимість порядком та ієрархіями, він очікує, що ці рухи будуть зроблені у <strong>порядку спадання</strong> значень <code>p</code>. Ця функція повинна повернути масив {% if is_js %}{% else %} зі списком{% endif %} рухів, які дозволять Печивомонстру знищити ці печеньки. Якщо існує декілька оптимальних послідовностей ходів, виберіть <strong>лексикографічно найбільшу</strong>. Подивіться приклад для вхідних даних <code>[1, 2, 3, 4, 5, 6</code> ].
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}cookie-monster.png" alt="example" style="max-height: 300px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> цілих чисел <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Вивести:</strong> {% if is_js %}Масив{% else %}Список{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> цілих чисел <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p style="text-align: justify;">
    Наведена вище версія задачі Cookie Monster була дещо спрощена, щоб зробити її досить простою для розв'язування тут. Більш загальна постановка задачі дозволяє Печивомонстру вибрати довільну підмножину купок, що залишилися, і видалити однакову довільно вибрану кількість печива з кожної купки у вибраній підмножині. Зацікавлені студенти можуть ознайомитись зі статтею <a target="_blank" href="https://arxiv.org/abs/1309.5985">“On the Cookie Monster Problem”</a> про тонкі складнощі загальної постановки задачі.
</p>
<p><i>Місія була взята з <span>Python CCPS 109</span>. Вона викладається для <span>Ryerson Chang School of Continuing Education</span> за допомогою <a href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>
<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
