<!-- Describe task in general -->

<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />

<p style="text-align: justify;">
    The beloved <a target="_blank" href="https://en.wikipedia.org/wiki/Cookie_Monster">Cookie Monster</a> from Sesame Street has stumbled upon a table with sorted <code>piles</code> of cookies, each pile a positive integer. However, the monomaniacal obsessiveness of <a target="_blank" href="https://en.wikipedia.org/wiki/Count_von_Count">the Count</a> who set up this crumbly fiesta has recently escalated to a whole new level of severity. The Count insists that these cookies must be eaten in the <strong>smallest possible number of moves</strong>. Each move chooses one of the <strong>remaining pile sizes</strong> <code>p</code>, and removes <code>p</code> cookies from every pile that contains at least <code>p</code> cookies (thus eradicating all piles with exactly <code>p</code> cookies), and leaves all smaller piles as they were. 
</p>

<p style="text-align: justify;">
    Since the Count also has an unhealthy obsession with order and hierarchies, he expects these moves to be done in <strong>decreasing order</strong> of values of <code>p</code>. This function should return the {% if is_js %}array{% else %}list{% endif %} of moves, that allows Cookie Monster to scarf down these cookies. If there are a few optimal sequences of moves, choose the <strong>lexicographically largest</strong> one. Look at the example for <code>[1, 2, 3, 4, 5, 6]</code> input.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}cookie-monster.png" alt="example" style="max-height: 300px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> <span translate="repeat">{% if is_js %}Array{% else %}List{% endif %}</span> of integers <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> <span translate="repeat">{% if is_js %}Array{% else %}List{% endif %}</span> of integers <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p style="text-align: justify;">
    The above version of the Cookie Monster problem has been streamlined a bit to keep this problem simple enough to solve here. The more general problem formulation allows Cookie Monster to choose any subset of remaining piles, and remove the same freely chosen number of cookies from each pile in the chosen subset. Interested students can check out the article <a target="_blank" href="https://arxiv.org/abs/1309.5985">“On the Cookie Monster Problem”</a> about the subtle complexities of the general problem formulation.
</p>
<p><i>The mission was taken from <span translate="no">Python CCPS 109</span>. It is taught for <span translate="no">Ryerson Chang School of Continuing Education</span> by <a href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>
<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
